.wrapper{ 
width:1000px;
Height:1500px;
top:0px;
left:0px;
background:Orange;
position:relative;
margin:0 auto;
}


.Header{
width:1000px;
Height:200px;
top:0px;
left:0px;
background:Red;
position:absolute; 
}

/*-------------start menu-------------------*/
.Menu{
width:1000px;
Height:50px;
top:200px;
left:0px;
background-image:url(images/menuslice.jpg);
position:absolute;

}

.Menu ul{
margin:0px;
padding:0px;}

.Menu ul li {
float:left;
line-height:50px;
font-size:24px;
width:164px;
list-style:none;
text-align:center;
border: 1px solid #000000;


}


.Menu ul li a {
text-decoration:none;
color:#000000;
}

.Menu ul li a:hover {
background-color:#FF9900;
display:block;
}
/*-------------end menu-------------------*/
.Slider{
width:1000px;
Height:250px;
top:250px;
left:0px;
background-image:url(images/sliderslice.jpg);
position:absolute;
}

/*---------------------------*/
.Left{
width:200px;
Height:950px;
top:500px;
left:0px;
background-image:url(images/left+right.jpg);
position:absolute;}

.Left ul{
margin:0px;
padding:0px;}

.Left ul li {
line-height:50px;
font-size:24px;
width:200px;
list-style:none;
text-align:center;
border: 1px solid #000000;
}


.Left ul li a {
text-decoration:none;
color:#000000;
}

.Left ul li a:hover {
background-color:#FF9900;
display:block;
}


/*------------------------------*/
.Content{
width:600px;
Height:950px;
top:500px;
left:200px;
background:white;
position:absolute;
}

h1,h2,h3,h4,h5,h6{
font-size:24px;
color:red;
margin:20px;}

p{
font-size:18px;
color:black;
margin:30px;}
form{
width:200px;
background-color:#CCCCCC;
border-radius: 4mm 4mm;}

.contactform{
width:300px;
background-color:#CCCCCC;
border-radius: 4mm 4mm;}

/*------------------------------*/

.Right{
width:200px;
Height:950px;
top:500px;
left:800px;
background-image:url(images/left+right.jpg);
position:absolute;
}

.imgright{
width:190px;
height:140px;
margin:5px;}


/*--------------------*/
.Footer{
width:1000px;
Height:50px;
top:1450px;
left:0;
background-image:url(images/menuslice.jpg);
position:absolute;
}

.Footer ul{
margin:0px;
padding:0px;}

.Footer ul li {
float:left;
line-height:50px;
font-size:24px;
width:164px;
list-style:none;
text-align:center;
border: 1px solid #000000;


}

.Footer ul li a {
text-decoration:none;
color:#000000;
}

.Footer ul li a:hover {
background-color:#FF9900;
display:block;
}

